.hero {
  position: relative;
  overflow: hidden;
  height: 90vh; /* Yüksekliği tam olarak ekran yüksekliği olarak ayarla */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(to right top, rgba(155, 170, 173, 0.8), rgba(171, 181, 191, 0.9)), url('../../assets/images/banner4.jpg'); /* Arka plan resmi ve transparan gradienti ekle */
  background-size: cover; 
  background-position: center; 
  
}

.hero form {
  position: relative;
  z-index: 2;
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 100%; 


  margin-top: 0 !important;
  margin: 0 auto; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-image: linear-gradient(to right top, #eef2f3, #e8ecef, #e2e7eb, #dce1e7, #d6dce3, #d0d6df, #c9d1db, #c3cbd7, #bdc6d3, #b7c0cf, #b1bbcb, #abb5c7);

}



.hero h1,
.hero p {
  position: relative;
  z-index: 3;
  margin-left: 0;
  text-align: center;
}


.hero button,
.hero input {
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 0 5px;
}

.hero button {
  background-color: #ff6a00;
  color: white;
  border: none; 
}


.hero input {
  background-color: #fff;
  color: #333;
}



@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes carMove {
  0% {
    transform: translateX(380%);
  }
  100% {
    transform: translateX(calc(-100% - 100vh)); 
  }
}


@media (max-width: 768px) {
  .hero .car-image {
    margin-top: 2rem; 
    max-width: 8rem; 
  }

  .hero form {
    margin-top: 2rem; 
    padding: 1rem;
    width: 80%; 
  }

  .hero button,
  .hero input {
    padding: 8px 16px; 
  }


  .hero h1,
  .hero p {
    text-align: center;
  }
}
