.featured-card {
  background-color: #edf3f7; 
  border-radius: 10px;
  padding: 0.5rem; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease; 
  cursor: pointer;
  color: #333; 
  max-width: 30vh;
  justify-content: center;
}

.featured-card:hover {
  transform: translateY(-10px); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.featured-card .icon {
  color: #ff5722; 
  margin-bottom: 1rem; 
}

.featured-card .card-title {
  font-size: 1.25rem; 
  color: #333;
  margin-bottom: 0.25rem;
}

.featured-card .card-text {
  font-size: 1rem;
  color: #555; 
}
