.featured {
  padding: 0;
  margin: auto;
  background: #ffffff !important; 
}

.featured-heading {
  text-align: center;
  margin-bottom: 2rem;
}

.featured-heading h1 {
  font-size: 2rem;
  color: #791111; 
  margin-bottom: 0.5rem;
}

.featured .container {
  margin: auto;
  text-align: center; 
}

.featured .row {
  justify-content: space-around; 
  align-items: center; 
}

.featured .col {
  margin: 0.5rem; 
  padding: 0; 
}

@media (max-width: 576px) {
  .featured-heading h1 {
      font-size: 1.5rem;
  }

  .featured .col {
      margin: 0.5rem 0; 
  }
}
