* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin-nav-bar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 100;

	box-shadow: 0 2px 5px rgba(1, 1, 1, 3);
}