
.payment-page {
    background-color: #f8f9fa;
    padding: 20px; 
    min-height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #faf8f5 0%, #c3cfe2 100%);
}

.justify-content-md-center {
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff; 
    border: 1px solid #eaeaea; 
    margin: 20px auto; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}


.form-group i.fa {

    position: absolute;
    left: 16px; 
    top: 50%;
    transform: translateY(-50%);
    color: #666; 
}


.form-label {
    font-weight: bold;
}


.payment-button {
    margin-top: 20px;
}
.payment-page .faCreditCard,
.payment-page .faUser {
  color: black;
}
.payment-page {
    color: black; 
  }
  
  .payment-page h2 {
    color: #007bff; 
  }
  
  .payment-page p {
    color: black; 
  }
  
  .payment-page .form-label {
    color: black; 
  }
  
  .payment-page .form-control {
    color: black; 
  }
.car-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.car-side-image {
  max-width: 100%;
  height: auto;
}  
.car-image-small {
    width: 100px; 
    float: right; }