.NavScrollExample {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Navbar'ı diğer içeriklerin üstünde tutmak için */
    background-color: rgba(209, 31, 31, 0.7); /* Beyaz arka planın opaklığı */
    backdrop-filter: blur(10px); /* Arka planı hafifçe bulanıklaştır */
  }
  .scroll-active {
  background-color: #9f2121; /* Veya istediğiniz renk */
  transition: background-color 0.3s; /* Pürüzsüz bir geçiş için */
}